{% extends 'base.html' %}
{% block title %}Actualizar Tenis{% endblock %}
{% block content %}

<form method="POST">

  <div class="field">
    <label class="label">Marca</label>
    <input class="input" type="text" name="marca" value="{{ tenis.marca }}" required>
  </div>

  <div class="field">
    <label class="label">Modelo</label>
    <input class="input" type="text" name="modelo" value="{{ tenis.modelo }}" required>
  </div>

  <div class="field">
    <label class="label">Talla</label>
    <input class="input" type="number" step="0.1" name="talla" value="{{ tenis.talla }}" required>
  </div>

  <div class="field">
    <label class="label">Color</label>
    <input class="input" type="text" name="color" value="{{ tenis.color }}">
  </div>

  <div class="field">
    <label class="label">Precio</label>
    <input class="input" type="number" step="0.01" name="precio" value="{{ tenis.precio }}">
  </div>

  <div class="field">
    <label class="label">Stock</label>
    <input class="input" type="number" name="stock" value="{{ tenis.stock }}">
  </div>

  <button type="submit" class="button is-primary">Actualizar</button>
  <a href="{{ url_for('index') }}" class="button is-light">Cancelar</a>

</form>

{% endblock %}